@font-face {
  font-family: MyriadPro-light;
  src: url(../fonts/myriad-pro-CL/MyriadPro-Light.otf);
}


@font-face {
  font-family: MyriadPro;
  src: url(../fonts/myriad-pro-CL/MYRIADPRO-REGULAR.OTF);
}

/*
 font-family: MyriadPro;
  src: url(./fonts/MyRIADPRO-REGULAR.OTF);
  font-family: MyriadPro-Bold;
  src: url(./fonts/MyRIADPRO-BOLD.OTF);
  font-family: MyriadPro-SemiBold;
  src: url(./fonts/MyRIADPRO-SEMIBOLD.OTF);
*/


html,
body {
  height: 100%;
  width: 100%;
  font-family: MyriadPro;
  background-color: #ffffff;
  background-color: #fff;
  overflow-x: hidden;
}

.contenedor0 {
  display: grid;
  grid-template-columns: 1fr auto;
  text-align: center;
  justify-items: center;
  padding-left: 160px;

}

.menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 200px;
  align-items: center;

}

.menu a {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.separador {
  width: calc(80% - 40px);
  height: 0;
  border-top: 1px solid #000000;
  margin: 1px auto;

}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .menu {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .profile {
    justify-content: center;
    margin: 20px 0;
  }
}




.contenedor1 {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0% 5%;

}

.gridsolo {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  padding: 10px;
}

.gridc {
  background-color: #ffffff;
  padding: 10px;
}

.pre {
  font-size: 200%;
  text-align: center;
}

.grande {
  font-size: 200%;
  margin: 0 0;
}

.contenedorbot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.boton {
  display: inline-block;
  padding: 20px 60px;
  background-color: #0050F5;
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
  transition: background-color 0.3s ease;
  font-size: 150%;
}

.boton:hover {
  background-color: #0056b3;
}



h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}






.text-box {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.text-box input[type="text"] {
  font-size: 18px;
  outline: none;
  padding: 20px;
  border: 1px solid #868383;
  border-radius: 40px;
  width: 100%;
  box-sizing: border-box;
}

.placeholder {
  display: flex;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  color: #999;
}



.placeholder2 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  color: #999;
}

.text-box input[type="text"]:focus+.placeholder {
  display: none;
}


label,
input[type="text"],
input[type="date"] {
  margin: 10px 0;
  font-size: 16px;
}

input[type="text"],
input[type="date"] {
  padding: 20px;
  border: 1px solid #868383;
  border-radius: 40px;
  width: 100%;
  box-sizing: border-box;
}


.input-con-flecha {
  position: relative;
  display: inline-block;
}

.input-con-flecha input {
  padding-right: 30px;
  box-sizing: border-box;
}

.flecha {
  font-size: 40px;
  color: #000000;
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
}

.fle {
  height: 40px;
}

.calendario {
  font-size: 40px;
  color: #000000;
  position: absolute;
  left: 25px;
  top: 55%;
  transform: translateY(-50%);
}

.imagen1 {
  width: 215px;
  height: 115px;
}

.imagencar {

  width: 50px;
  height: 80px;
}

.imagenca {
  width: 80px;
  height: 80px;
}

.imagencaruc {
  width: 80px;
  height: 140px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.flechaleft {
  font-size: 40px;
  color: #000000;
  left: 750px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.fle {
  height: 40px;
}

.flecharight {
  font-size: 40px;
  color: #000000;
  right: 700px;
  top: 50%;
  transform: translateY(-50%);
}

.flechaleft2 {
  font-size: 40px;
  color: #000000;
  left: 95px;
  top: 50%;
  transform: translateY(-50%);
}

.flecharight2 {
  font-size: 40px;
  color: #000000;
  left: 440px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1920px) {
  .fle {
    height: 40px;
  }

  .flechaleft {
    font-size: 40px;
    color: #000000;
    position: absolute;
    left: 700px;
    top: 50%;

  }

  .flecharight {
    font-size: 40px;
    color: #000000;
    position: absolute;
    right: 700px;
    top: 50%;

  }

  .flechaleft2 {
    font-size: 40px;
    color: #000000;
    position: absolute;
    left: 165px;
    top: 50%;

  }

  .flecharight2 {
    font-size: 40px;
    color: #000000;
    position: absolute;
    left: 540px;
    top: 50%;

  }
}

.cambiol {
  font-family: MyriadPro-light;
  margin: 0 0;
}

.letras {
  text-align: center;


}

.letras2 {
  display: flex;
  background-color: #003cff;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  height: 10rem;
  width: 5rem;
  color: #fff;
}